[Desktop Entry]
Encoding=UTF-8
Name=Link to Binary_search.py
Type=Link
URL=https://github.com/windloid/PythonExamples/blob/master/Binary_search.py
Icon=text-html
